.wp-opauth-login-clear
{
	clear: both;
}

.wp-opauth-login-strategy
{
	width: 50%;
	float: left;
}

.wp-opauth-login-box
{
	margin-left: 8px;
	margin-top: 16px;
	border: 1px solid rgb(229, 229, 229);
	background: none repeat scroll 0% 0% rgb(255, 255, 255);
	box-shadow: 0px 4px 10px -1px rgba(200, 200, 200, 0.698);
	padding: 26px 24px 46px;
	font-weight: normal;
}
